<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <base href="/">

    @*@Styles.Render("~/Content/base/baseCSS")
        @Styles.Render("~/Content/plugin/pluginCSS")
        @Styles.Render("~/Content/layout/layoutCSS")*@

    @{Html.RenderPartial("_Styles");}

    @RenderSection("styles", required: false)

</head>
<body umang-navigation-type="vertical" umang-nav-placement="left" theme-layout="wide-layout" theme-bg="bg1" ng-controller="rootController" ng-cloak style="background-color: #f1f1f1">

            <section>
                <div class="inner-content">
                    @RenderBody()
                </div>
            </section>




    @*@Scripts.Render("~/bundles/baseJS")

        @Scripts.Render("~/bundles/pluginJS")


        @Scripts.Render("~/bundles/layoutJS")

        @Scripts.Render("~/bundles/appJS"*@

    @{Html.RenderPartial("_Scripts");}

    @RenderSection("scripts", required: false)
</body>
</html>
